.wrapper{
  width: 1440px;
  height: 2000px;
  border: 1px solid;
  margin: 0 auto;
}

body {
  font-family: Roboto;
  font-size: 24px;
  color: #333;
  margin: 0;
  padding: 0;
}
.logo{
  margin: 0 auto;
}
header {
  height: 104px;
  width: 1440px;
  background-color: #EFCEAD;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  font-family: Roboto;


}

nav {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  font-size: 14px;
}